<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DaDataCLRSQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DaDataCLRSQL.Properties.Settings>
            <setting name="dd_token" serializeAs="String">
                <value>PUT_YOUR_TOKEN_HERE</value>
            </setting>
            <setting name="dd_url" serializeAs="String">
                <value>https://suggestions.dadata.ru/suggestions/api/4_1/rs</value>
            </setting>
        </DaDataCLRSQL.Properties.Settings>
    </applicationSettings>
</configuration>